.container-product > .product,
.container-variacao > .variacao {
  padding: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.product > .info > .row:first-child > p {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.product > .click {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-product > :not(:first-child),
.container-variacao > :not(:first-child) {
  margin-top: 20px;
}

.button-text {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.button-text > :first-child {
  margin-bottom: 0;
}

.button-text > span > button,
.black-btn {
  color: white;
  background-color: black;
}

.btn-border-black {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.btn-border-black:hover {
  background-color: black;
  color: white;
}

.text-input {
  display: flex;
  align-items: center;
}
.text-input > .form-group {
  margin: 0;
  margin-left: 15px;
}

.container-variacao > .variacao {
  cursor: default;
}

.container-variacao > .variacao > * {
  margin-left: 10px;
  margin-right: 10px;
}

.container-variacao {
  margin-bottom: 20px;
}

.delete-btn {
  border: 1px solid red;
  color: red;
  background-color: white;
}

.delete-btn:hover {
  border: 1px solid white;
  color: white;
  background-color: red;
}

.form {
  margin-bottom: 20px;
}

.two-center-btn {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.product > .info > .row {
  margin-bottom: 5px;
}
