.navbar-brand {
  display: table;
}
.navbar-brand > img,
.navbar-brand > p {
  vertical-align: middle;
  display: table-cell;
}

.navbar-brand > p {
  padding-left: 20px;
}

.signout > a {
  color: red !important;
}

.signout {
  border: 1px solid red;
  border-radius: 6px;
  cursor: pointer;
}

.signout:hover {
  background-color: red;
}

.signout:hover > a {
  color: white !important;
}
